#ProfileCreation {
	visibility: hidden;
	padding-top: 50px;
}
#profConfirm {
	visibility: hidden;
}
#Profile {
	visibility: hidden;
}
#yourProfile {
	visibility: hidden;
}


*,
::before,
::after{
  box-sizing: border-box;
  
}




/*padding of navigation container*/
.NavC{
	padding: 20px;
}

/* spoonacular image width */
#spoon{
	width: 100px;
}

/* making the navigationn bar in a grid format ; multiple divs in one row - horizontally alligned*/
.navContain{
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 55px;
  padding-right: 100px;
  padding-left: 100px;
}

/*styling all icons*/
#icon{
	padding-left: 10px;
}


/*powered by spoonacular css tag. making it a grid element to place the image and caption beside each other*/
.logocontain{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
   
}	
.logoitem1{
 width: 90px;
}
.logoitem2{
	padding-top: 15px;
}
#center {
	padding-left: : 50%
}
#powered {
	font-size: 30px;
	letter-spacing: 0px;
}
/*styling hero image (background image) using a gradient background/overlay on top of the image*/
.hero-container{
   background: lightgreen;  /* fallback colour. Make sure this is just one solid colour. */
    background: -webkit-linear-gradient(rgb(43, 162, 254, 0.2), rgba(211,211,211, 0.8)), url("maps-r-94.jpg");
    background: linear-gradient(rgba(43, 162, 254, 0.8), rgba(211,211,211, 0.8)), url("maps-r-94.jpg");

  height: 100vh;
  position: relative;
}

.hero-container::before{
    content    : "";
  background : #000000; 
  position   : absolute;
  width      : 100%;
  height     : 100%;
  opacity    : 0.4; 
}

.hero-body{
  position: relative;
  display: flex;
 
  flex-direction: column;
  height: 100%;
}
/*hero image title div*/
.ten{
	
	margin: 0;
  display: inline;
  
  padding-top: 5rem;
  padding-left: 10rem;
}

h2 {
  font-family: "Arial Black", sans-serif;
  font-stretch: expanded;
  letter-spacing: 4px;
  color: #080808;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  color: white;

}

/*customizing font of webpage title*/
.ten h2 {
  font-size:30px; text-transform:uppercase;
}
.ten h2:before {
    background-color: white;
    border-radius: 0.25rem;
    content: '';
    display: block;
    height: 0.25rem;
    width: 42px;
    margin-bottom: 1.25rem;
}







@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
/*scroll arrow btn container css*/
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  
}
/*scroll arrow btn css*/
.arrow a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.arrow a:hover {
  opacity: .5;
}

.grid-container {
	 display: grid;
  grid-template-columns: auto auto auto;
  padding: 120px;
  
}
.grid-item {
	width:800px;
}

h5{
	color: white;
	font-family: "Josefin Sans", sans-serif;
}
/*scroll arrow btn css*/
#scrollbtn a {
  padding-top: 60px;
}
#scrollbtn a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -25px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
/*styling the after and before identifiers for the arrow btn*/
#scrollbtn a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#scrollbtn a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}
/*scroll arrow pulse animation using css keyframes*/
@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
#descriptionIcon {
	color: #0275d8;
	font-size: 80px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}


